@mixin margin-auto {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}

.badge {
	position: relative;
    text-align: center;
	margin: 1.5em 3em;
	width: 4em;
	height: 6.2em;
	border-radius: 10px;
	display: inline-block;
	top: 0;
	transition: all 0.2s ease;
	&:before,
	&:after {
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		background: inherit;
		content: "";
		@include margin-auto;
	}
	&:before {
		transform: rotate(60deg);
	}
	&:after {
		transform: rotate(-60deg);
	}
	&:hover {
		top: -4px;
	}
	.circle {
		width: 60px;
		height: 60px;
		position: absolute;
		background: #fff;
		z-index: 10;
		border-radius: 50%;
		@include margin-auto;
		i.fa {
			font-size: 2em;
			margin-top: 8px;
		}
	}
	.font {
		display: inline-block;
		margin-top: 1em;
	}
	.ribbon {
        box-sizing: content-box;
		position: absolute;
        
		border-radius: 4px;
		padding: 5px 5px 4px;
		width: 100px;
		z-index: 11;
		color: #fff;
		bottom: 12px;
		left: 50%;
		margin-left: -55px;
		
		font-size: 14px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.27);
		text-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
		text-transform: uppercase;
		background: linear-gradient(to bottom right, #555 0%, #333 100%);
		cursor: default;
	}
}

.orange {
	background: linear-gradient(to bottom right, #ffc107 0%, #f57c00 100%);
	color: #f68401;
}

.gold {
    border-top: 3px solid #fceabb;
    border-left: 3px solid #fceabb;
    border-bottom: 3px solid #f8b500;
    border-right: 3px solid #f8b500;
    border-width: 6px;
    background: rgb(252, 234, 187); /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      rgba(252, 234, 187, 1) 0%,
      rgba(252, 205, 77, 1) 50%,
      rgba(248, 181, 0, 1) 51%,
      rgba(251, 223, 147, 1) 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      rgba(252, 234, 187, 1) 0%,
      rgba(252, 205, 77, 1) 50%,
      rgba(248, 181, 0, 1) 51%,
      rgba(251, 223, 147, 1) 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      rgba(252, 234, 187, 1) 0%,
      rgba(252, 205, 77, 1) 50%,
      rgba(248, 181, 0, 1) 51%,
      rgba(251, 223, 147, 1) 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr='#fceabb',
        endColorstr='#fbdf93',
        GradientType=1
      ); /* IE6-9 fallback on horizontal gradient */
  }