



@mixin text-3d($hue) {
  $ts: ();
  @for $i from 1 through 10 {
    $ts: $ts, $i*2px $i*2px hsl($hue + $i*1, 100%, 50% - $i);            
  }
  text-shadow: $ts, 0 0 10px, 0 0 15px;
}

.build {
  position:absolute;
  right:0px;
  top:0px;
  
  
  
}
.badge {
    z-index: 1;
    transform: scale(.8);
    pointer-events: all;
    transition:transform .2s ease-out;
    cursor:pointer;
    &:hover{
      transition:transform .2s ease-out;
      transform:scale(1);
      img{
        transition:transform .2s ease-out;
        transform:scale(1.3)
      }
      
      .playerCenter{
        transition:background-position .2s ease-out;
        background-position: 0% 100%;
      }
    }
    img{
      transition:transform .4s ease-out;
    }
    margin:10px;
    position:relative;
    display: block;
    font-family: "CivitaShape";
    span{
        font-size: 3.5rem;
        content:'hex';
    
    
        text-shadow:     0 1px 0 hsl(174,5%,80%),
        0 2px 0 hsl(174,5%,75%),
        0 3px 0 hsl(174,5%,70%),
        0 4px 0 hsl(174,5%,66%),
        0 5px 0 hsl(174,5%,64%),
        0 6px 0 hsl(174,5%,62%),
        
    
        0 0    5px  rgba(0,0,0,.05),
        0 1px  3px  rgba(0,0,0,.2),
        0 3px  5px  rgba(0,0,0,.2),
        0 5px  10px rgba(0,0,0,.2),
        0 10px 10px rgba(0,0,0,.2),
        0 20px 20px rgba(0,0,0,.3);
    }
    
    
}
.add{
  font-size:2.6rem;
  text-shadow:     0 1px 0 hsl(174,5%,80%),
  0 2px 0 hsl(174,5%,75%),
  0 3px 0 hsl(174,5%,70%),
  0 4px 0 hsl(174,5%,66%),
  0 5px 0 hsl(174,5%,64%),
  0 6px 0 hsl(174,5%,62%),
  

  0 0    5px  rgba(0,0,0,.05),
  0 1px  3px  rgba(0,0,0,.2),
  0 3px  5px  rgba(0,0,0,.2),
  0 5px  10px rgba(0,0,0,.2),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.3);
}

.playerCenter {

    position:absolute;
    font-size: 3.2rem;
    display:flex;
    justify-content:center;
    align-items:center;
    top:0;
    left:0;
    background: #FDC830;  /* fallback for old browsers */
    //background: -webkit-linear-gradient(to top, #F37335, #FDC830);  /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to top, #F37335, #FDC830); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: rgb(253,200,48);
    background: -webkit-linear-gradient(-180deg, rgba(243,115,53,1) 0%,rgba(253,200,48,1)  33%, rgba(178,255,138,1) 66%, rgb(8, 153, 1) 100%);
    background: linear-gradient(-180deg, rgba(243,115,53,1) 0%,rgba(253,200,48,1)  33%, rgba(178,255,138,1) 66%, rgb(8, 153, 1) 100%);
    
    
    
    background-size:100% 300%;
    background-position:0% 0%;
    transition:background-position .2s ease-out;
    overflow: hidden;
    color:transparent;
    height:100%;
    width:100%;
    background-clip: text;
    
    
}
.playerContent{
    
    width:100%;
    height:100%;
    display:flex;
    padding:1rem;
    position:absolute;
    div{
        display:flex;
        justify-content:center;
        align-items:center;
        width:100%;
        height:100%;
        font-family:Arial, Helvetica, sans-serif;
        font-weight:700;
        color:white;
        span{
            font-size:4rem;
        }
    }
    
}
