@font-face {
  font-family: 'CivitaShape';
  src: url('/fonts/icomoon.eot') format('embedded-opentype'), /* Internet Explorer */
  url('/fonts/icomoon.woff') format('woff'), /* Pretty Modern Browsers */
  url('/fonts/icomoon.ttf')  format('truetype'), /* Safari, Android, iOS */
  url('/fonts/icomoon.svg') format('svg'); /* Legacy iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Quicksand:wght@500&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin:0;
  user-select: none;
}
